form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 20px;
  }
  .swal2-progresssteps .swal2-progress-step {
    background-color: #3498db;
  }
  
  .swal2-progresssteps .swal2-progress-step.swal2-active-progress-step {
    background-color: #2ecc71;
    animation: progress-bar 2s linear infinite;
  }
  
  @keyframes progress-bar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .light-red-text {
    color: #FFB6C1;
  }  