.quiz {
    padding: 20px;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }
  
 

  .green-snackbar {
    background-color: green !important;
    color: white;
  }
  
  .red-snackbar {
    background-color: red !important;
    color: white;
  }

  
  
  
  
  
  
  