<div class="login-container bg-light" >
    <mat-card class="login-card">
      <mat-card-header class="login-card-header">
        <mat-card-title class="login-card-title">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="login-form" [formGroup]="loginForm" >
            <mat-form-field class="login-form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Enter your email" [(ngModel)]="newlogin.email" />
              <mat-error *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                email is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="login-form-field" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" placeholder="Enter your password" [(ngModel)]="newlogin.password"  />
              <mat-error *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                Please enter your Password.
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button" [disabled]="loginForm.invalid" (click)="login()">Login</button>
          </form>
      </mat-card-content>
      <mat-card class="cardStyle">
        <h2>Login Below With Google</h2>
        <div id="buttonDiv"></div> 
      </mat-card>
    </mat-card>
  </div>
  